.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th,
td {
  font-weight: normal !important;
  padding: 5px !important;
  width: 120px !important;
  vertical-align: top !important;
}
/* th {
  background:#00B0F0 !important;
} */
/* tr + tr th, tbody th {
  background:#DAEEF3 !important;;
} */

.green {
  background: #eff2a9 !important;
}

.soft-green {
  background: #fbfcea;
}

.grey {
  background: #b3b3b3 !important;
}

.soft-grey {
  background: #e5e5e5 !important;
}


/* Membuat kolom "name" tetap */
#tableContainer th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  padding-right: 20px;
}

/* Membuat bagian tengah tabel dapat di-scroll secara horizontal */
#tableContainer {
  overflow-x: auto;
}

/* Mengatur lebar dari setiap kolom */
#tableContainer th,
#tableContainer td {
  min-width: 100px;
  max-width: fit-content;
  white-space: nowrap;
  text-align: left !important;
}

#chartpunyasaya {
  background: #fff !important;
}

.fullscreen-enabled #chartpunyasaya {
  background: #fff !important;
}

.fullscreen{
  background-color: #fff !important;
}

.print-button {
  display: block !important;
}

.fullscreen-enabled .print-button {
  display: none !important;
}

.fullscreen-enabled {
  overflow: auto !important;
}
