.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


th, td {
  font-weight:normal !important;
  padding:5px !important;
  width:120px !important;
  vertical-align:top !important;
}
/* th {
  background:#00B0F0 !important;
} */
/* tr + tr th, tbody th {
  background:#DAEEF3 !important;;
} */

.green{
  background: #EFF2A9 !important;
}
.soft-green{
  background: #FBFCEA;
}
.grey{
  background: #B3B3B3 !important;
}
.soft-grey{
  background: #E5E5E5 !important;
}

#mytable {
  border-collapse:collapse !important;
  table-layout:fixed;
}

#mytable th, #mytable td {
  padding: 8px;
  text-align: left;
}

#mytable th {

  font-weight: bold;
}
